name: tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- 1. PREPARACIÓN DE PHP ---
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none # Desactiva coverage si no lo usas para que sea más rápido

      # --- 2. INSTALACIÓN Y BUILD DE FRONTEND (NODE) ---
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Usamos una versión moderna y estable
          cache: 'npm'

      - name: Install NPM dependencies
        run: npm ci

      - name: Build frontend assets
        run: npm run build

      # --- 3. INSTALACIÓN DE BACKEND (COMPOSER) ---
      - name: Install Composer Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      # --- 4. CONFIGURACIÓN DE ENTORNO ---
      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      # --- 5. EJECUCIÓN DE TESTS ---
      - name: Tests
        run: ./vendor/bin/phpunit
